.information{
  .fa{
    color: #c6c6c6;
  }
}
.post {
  .title{
    width: 100%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    a{
      font-size: 20px;
      color: #2C3E50;
      &:hover{
        text-decoration: none;
        color: #ECF0F1;
      }
    }
  }
}
.information{
  background: #ECF0F1;
  width: 100%;
  height: auto;
  font-size: 12px;
  padding: 3px;
}

.sidebar{
  .title{
    width: 100%;
    background: #f5f5f5;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
  }
}

.owl-nav {
  position: absolute;
  top: -30px;
  right: 0px;
}

.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';
}

.owl-prev, .owl-next {
  width: 50%;
  float:left;
}


.owl-carousel .owl-nav .owl-prev:before{
    // fa-chevron-left
    content: "\f053";
    margin-right:10px;

}
.owl-carousel .owl-nav .owl-next:after{
    //fa-chevron-right
    content: "\f054";
    margin-right:10px;

}
